.SignupHeader {
    color: gray;
    text-align: center;
    padding: auto;
    margin-top: 15%;


}

.Row {
    max-width: 50%;
    margin: auto;
}

.imagesize {
    max-width: 100%;
    height: auto;
    margin: auto;
}

.TextLink {
    color: blue;
}